.profImg{
    position: relative;
    color: #2D4059;
}

#upload{
    opacity: 0;
    position: absolute;
    z-index: -1;
    margin-left: 20px;
}

.icon{
    position: absolute;
    bottom: 8px;
    left: -30px;
}

#profilePic {
    margin: auto;
    width: 30%;
    padding: 10px;
}

.editBtn{
    border: 1px solid rgb(234, 84, 85);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 15px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
    color:white;
    background-color: rgb(234, 84, 85);
  }
  
  .editBtn:hover{
    border: 1px solid #DECDC3;
    background-color: #DECDC3;
  }

  .edit{
    border: 2px solid rgb(234, 84, 85);
}