.bookBtn{
    width: 25%;
    margin-bottom: 2%;
    border: 2px solid rgb(234, 84, 85);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
    background-color: rgb(234, 84, 85);
    color: white;

}

.bookBtn:hover{
    border: 2px solid #2D4059;
    background-color: #2D4059;
    
}

#moreBtn, #moreBtn:focus, #moreBtn:active {
	color:rgb(234, 84, 85);
	box-shadow: none;
	outline: none!important;
}

.sep {
	white-space: pre-wrap;
  }